body {
    font-family: Arial, sans-serif;
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 70%;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.block {
    border: 1px dotted black;
    margin-top: 5px;
    width: 50%
    justify: center;
}

button:hover {
    background-color: #45a049;
}

.link {
    padding: 10px;
    width: 60%;
    margin-top: 20px;
    border: 1px dotted black;
}

.link button {
    background: #8ead53;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}





